body{
  margin:0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  margin-left: 45%;
  margin-bottom: 6%;
  margin-top: 7%;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
  }
  
  li {
    float: left;
    /*border-right:1px solid rgb(209, 100, 100);*/
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color:black;
  }
  
  .active {
    background-color: rgba(36, 204, 247, 0.74);;
  }

  #firstimg{
    width: 100%;
    height: 650px;
  }

  .intros{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.containerMarfim{
  background-color: #f1dca3;
  color:black;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}
.containerBranco{
  background-color: white;
  color:black;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  margin-top: 20px;
}

.imagesizeEsquerda{
  height: 300px;
  width: 300px;
  padding-left: 4%;
  padding-top: 4%;
}

.imagesizeDireita{
  height: 300px;
  width: 300px;
  padding-left: 65%;
  padding-top: 4%;
  position: right;
}

.textodireita{
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 5%;
  padding-left: 35%;
}
.textoEsquerda{
  position: absolute;
  top: 0;
  text-align: center;
  padding-top: 5%;
  padding-right: 35%;
}

.genero{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  position: relative;
}

.videogenero{
  padding-left: 11%;
  width: 800px;
  height: 400px;
}

.spotify{
  padding-top: 5%;
  width:  80% ;
  height: 80px;
}